body {
  background: rgb(4, 13, 43);
}

form {
  font-size: 20px;
}

.Header {
  color: silver;
  font-size: 48px;
  text-align: center;
}

.tagline {
  color: lightgray;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.Body {
  text-align: center;
}
