.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(4, 13, 43);
}

.navbar_link {
  margin: .75em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: rgb(224, 170, 179);
  border-bottom: 2px solid transparent;
}

.navbar_link:hover {
  transform: translateY(-6px);
}

.navbar_link--active {
  border-bottom: 2px solid #29b6f6;
  transition: border-bottom .1s ease-in-out;
}