/*
RecentlyPlayed Component
Playlist Component
*/
.homepage-item-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-items: center;
}

.homepage-item {
    width: 23%;
    margin: 4px auto;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media (max-width: 800px) {
    .homepage-item {
        width: 48%;
    }
}

/* Recently Played component */

.homepage-item img {
    width: 100%;
    background-size: contain;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.homepage-item img:hover {
    opacity: 0.4;
}

.homepage-item h4,
.homepage-item h5 {
    margin: 2px auto;
}



/* playlist component */

.box {
    height: 170px;
    background: rgb(18,125,136);
    background: radial-gradient(circle, rgba(18,125,136,1) 42%, rgba(39,24,69,1) 91%);
}

.box:hover {
    opacity: 0.5;
}

.box h3 {
    margin-top: 70px;
}



/* AlbumOfWeek component */

.album-of-week {
    width: 100%;
    height: 500px;
}
.album-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.album-container .album-image {
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: 60%;
    margin: 10px auto;
}

.album-text {
    margin: 200px auto;
    width: 30%;
    padding-left: 20px;
    color: white;
}

@media (max-width: 1000px) {
    .album-container {
        position: relative;
    }

    .album-container .album-image {
        position: absolute;
        background-size: cover;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .album-image::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0, rgb(15, 20, 26) 80%);
        height: 100%;
        width: 100%;
        content: '';
    }

    .album-text {
        position: absolute;
        top: 150px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .album-of-week {
        height: 300px;
    }
    .album-container .album-image {
        height: 100%;
    }

    .album-text {
        margin-left: 10px;
        text-align: left;
        top: -25px;
        font-size: 12px;
    }
}