.playerPage-container {
  background-color: rgb(15, 20, 26);
  display: flex;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.playerPage-container .sidebar {
  width: 20%;
  text-align: center;
}

.playerPage-container .main {
  width: 80%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .playerPage-container .sidebar {
    display: none;
  }

  .playerPage-container .main {
    width: 100%;
  }
}
