.playlistPage-container {
  background-color: rgb(15, 20, 26);
  display: flex;
  color: white;
  margin: 0 auto;
}

.playlist-image-container {
  width: 50%;
}

.playlist-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.track-list {
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

.track-lable {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

hr {
  size: 1px;
}

.track-list::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d5d5d;
}

@media only screen and (max-width: 600px) {
  .playlistPage-container .sidebar {
    display: none;
  }

  .playlistPage-container .main {
    width: 100%;
  }
}
